@charset "utf-8";
/* CSS Document */
body{
	background:url(battleship-assets/Pozadina_Bitka.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment: fixed;
	}
	
.shipsLeft{
	color:white;}
	
img.logo{
	padding-left:600px;
	}
table#wellcome{
	padding-left:820px;
	
	width:auto;
	border-color:#00F;
	text-align:left;
	font:"MS Serif", "New York", serif;
	color:white;
	}
	
	table.button{
	padding-left:880px;
	}

.container{
	
	min-width:1600px;}


div#messageArea{
	color:rgb(51,204,52);
	}
	
td.miss{
	background:url(battleship-assets/miss2.png);
	width:70px;
	height:70px;
	border:2px solid;
	background:no-repeat;
	}
td.hit{
	width:70px;
	height:70px;
	background-color: red;
	border:2px solid;
	background:no-repeat;
	}
table#board{
	border-spacing:0px;
	border:2px solid;
	}
td.show{
	background:url(battleship-assets/ship1.png);
	}

td.board{
	width:70px;
	height:70px;
	border:2px solid;
	}

th{
	color:white;
	}
